go 1.26.4

use (
	./scripts/ui
	./services/analytics-service
	./services/notification-service
	./services/order-service
	./services/payment-service
	./services/store-service
	./tests/e2e
)

replace github.com/trb1maker/microservices/pkg v0.0.0 => ./pkg

replace github.com/trb1maker/microservices/services/analytics-service v0.0.0 => ./services/analytics-service

replace github.com/trb1maker/microservices/services/notification-service v0.0.0 => ./services/notification-service

replace github.com/trb1maker/microservices/services/order-service v0.0.0 => ./services/order-service

replace github.com/trb1maker/microservices/services/payment-service v0.0.0 => ./services/payment-service

replace github.com/trb1maker/microservices/services/store-service v0.0.0 => ./services/store-service

replace github.com/trb1maker/microservices/scripts/ui v0.0.0 => ./scripts/ui
